<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <form>
                    <h1>Reset Password</h1>
                    <p class="text-muted">Please enter your email Adress .</p>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <span class="input-group-icon">@</span>
                        </span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="email"
                        autocomplete="email"
                        required
                      />
                    </div>
  
                    <div class="row">
                      <div class="col-6">
                        <button type="button" class="btn btn-primary px-4">
                          Reset password
                        </button>
                      </div>
                      <div class="col-6 text-right">
                        <button [routerLink]="['/login']" routerLinkActive="router-link-active"  type="button" class="btn btn-link px-0">
                         Go back to login page ?
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  