<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <!-- creative form -->
              <form [formGroup]="SignUpForm" (ngSubmit)="onsubmit()" >
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <!-- pseudo input -->
                <div class="input-group mb-3 form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-user"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="pseudo"
                    autocomplete="pseudo"
                    formControlName="psoeudo"
                  />
                </div>
                <!--email input -->
                <div class="input-group mb-3 form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    autocomplete="email"
                    formControlName="email"
                  />
                </div>
                <!--password input -->

                <div class="input-group mb-3 form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-lock"></i
                    ></span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    autocomplete="new-password"
                    formControlName="password"
                  />
                </div>
                <!-- password confirmation  input -->

                <div class="input-group mb-4 form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-lock"></i
                    ></span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Repeat password"
                    autocomplete="new-password"
                    formControlName="password2"
                  />
                </div>
                <!-- Firstname -->
                <div class="input-group mb-3 form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-user"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Firstname "
                    autocomplete="firstname"
                    formControlName="firstname"
                  />
                </div>
                <!-- lastname input -->
                <div class="input-group mb-3 form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-user"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Lastname"
                    autocomplete="lastname"
                    formControlName="lastname"
                  />
                </div>
                <!-- country  input -->
                <div class="input-group mb-3 form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-map"></i>
                    </span>
                  </div>
                  <!-- <input
                    type="country"
                    class="form-control"
                    placeholder="Country"
                    autocomplete="country"
                  /> -->
                  <select formControlName="country" class="form-control" name="country" id="country">
                    <option value="" disabled selected>Select Country</option>
                    <option
                      *ngFor="let country of countries"
                      [value]="country.name"
                    >
                      {{ country.name }}
                    </option>
                  </select>
                </div>
                <!-- Phone number  input -->
                <div class="input-group mb-3 form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-phone"></i>
                    </span>
                  </div>
                  <input
                    type="tel"
                    class="form-control"
                    placeholder="Phone"
                    autocomplete="Phone"
                    formControlName="phone"
                  />
                </div>
                <!-- age input -->
                <div class="input-group mb-3 form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-calendar"></i>
                    </span>
                  </div>
                  <input
                    type="date"
                    class="form-control"
                    placeholder="Age"
                    autocomplete="age"
                    formControlName="age"
                  />
                </div>
                <!-- image input -->
                <div class="input-group mb-3 form-group"> 
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-calendar"></i>
                    </span>
                  </div>
                  <input
                    type="file"
                    formControlName="image"
                    class="form-control"
                  />
                </div>

                <button type="submit" class="btn btn-block btn-success">
                  Create Account
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
