<div *ngIf="!isloading" class="animated fadeIn">
  <div class="row justify-content-center">
    <button
    *ngIf="!usersStatus"
      (click)="usersStatus = !usersStatus"
      style="width: 100%"
      type="button"
      class="btn btn-primary"
    >
      See All users
    </button>
    <div class="col-sm-12" *ngIf="usersStatus" style="  line-height: 0.7;
    "> 
      <h6> {{users.length}} users .</h6>

      <div
        *ngFor="let item of users"
        class="comment mt-4 text-justify float-left"
      >
        <a [routerLink]="" routerLinkActive="router-link-active">
          <img
            [src]="item.image"
            alt=""
            class="rounded-circle"
            width="40"
            height="40"
          />
        </a>
        <h4>{{ item.pseudo }}</h4>
        <p style="text-align: end; float: right">{{ item.BookScore }}</p>
        <span style="float: right;"> Infos and Statics</span>
        <hr />
        <p>Last time activity on : {{ item.updatedAt | date }}</p>
        <p>Number of Books Added : {{ item.addedbooks.length }} Books .</p>
        <p>Number of Reviews : {{item.reviews.length}} Review. </p>
        <span style="float: right"> created at : {{ item.createdAt | date }}</span>

      </div>
    </div>
    <button
    *ngIf="usersStatus"
    (click)="usersStatus = !usersStatus"
    style="width: 100%"
    type="button"
    class="btn btn-primary m-2"
  > Hide Users </button>
    
  </div>
</div>
<div
  *ngIf="isloading"
  style="margin-left: 45%; margin-top: 35%"
  class="lds-hourglass"
></div>
