.card-body {
    min-height: 350px;
    min-width: 260PX;
    margin-right: 5px;
    max-width: 301px;
    max-height: 301px;
}
::-webkit-scrollbar {
    display: none;
    color: red;
  }

.cool {
    border: 2px solid white;
    border-radius: 10px;
    padding: 2px;
  }
  .titles{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 40px;
  }